.save-btn {
    width: 175px;
    height: 72px;
    font-size: 15px;
    font-weight: bold;
    color: #ed7702;
    border: solid 2px #ed7702;
    border-radius: 36px;
    --background: white;
    --box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);
}