<ion-header>
    <ion-toolbar>
      <ion-title>Update Objective</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content  mode="ios">
      <ion-list>
          <br>
          <ion-item>
              <ion-input placeholder="Title" type="text" [(ngModel)]="objectiveSelected.objective"></ion-input>
          </ion-item>

            <ion-item>
              <ion-input placeholder="Description" type="text" [(ngModel)]="objectiveSelected.description"></ion-input>
            </ion-item>

            &nbsp;

            <ion-item lines="none" style="padding-right: 0px !important;">
                <ion-label style="color: skyblue;">Target Date</ion-label>
                <ion-datetime mode="ios" displayFormat='DD-MMM-YYYY' style="color: gray;" [min]="min_date" max="2099-10-31" value="1990-02-19" placeholder="Select Date" [(ngModel)]="objectiveSelected.target_date"></ion-datetime>
            </ion-item>

            <ion-item lines="none">
                <ion-label style="color: skyblue;">Complete Date</ion-label>
                <ion-icon name="checkbox-outline"></ion-icon>
                <ion-datetime mode="ios" displayFormat='DD-MMM-YYYY' style="color: grey;" [min]="min_date" max="2099-10-31" value="1990-02-19" placeholder="Complete Date" [(ngModel)]="objectiveSelected.completed_date"></ion-datetime>
            </ion-item>

               <ion-item *ngIf="!showMoreInfoDetails" style="color: skyblue;cursor: pointer;" lines="none" (click)="toggleDetails()">
                <ion-label>More information</ion-label>
                <ion-icon style="color: orange;" name="caret-down-outline"></ion-icon>
              </ion-item>


            <ion-item *ngIf="showMoreInfoDetails" lines="none" style="color: skyblue; cursor: pointer;" (click)="toggleDetails()">
                  <ion-label>Less information</ion-label>
                  <ion-icon style="color: orange;" name="caret-up-outline"></ion-icon>
            </ion-item>

            <div  *ngIf="showMoreInfoDetails">
              <ion-item   lines="none">
                  <span *ngFor="let item of objectiveTypeInfo;let i = index;">
                      <input type="radio" [(ngModel)]="objectiveSelected.objective_type" id="professional_{{i}}" name="objectiveType" [value]="item.goal_type_id" style="color: #0072BB;" (change)="onObjectiveTypeChange(item.goal_type_id)">
                      <label for="professional_{{i}}" style="margin:10px 0px 0px 6px; margin-right:30px; color: skyblue;">{{item.type_name}}</label>
                  </span>
              </ion-item>&nbsp;

              <ion-item lines="none" style="padding-right: 0px !important;">
                <ion-label style="color: skyblue;">Category</ion-label>

               <ion-select [(ngModel)]="objectiveSelected.goal_category_id">
                  <!-- <ion-select-option value="">Select Category</ion-select-option> -->
                  <ion-select-option *ngFor="let catogery of categoryInfo" value="{{catogery.category_id}}">{{catogery.name}}</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item lines="none" style="padding-right: 0px !important;">
                  <ion-label style="color: skyblue;">Goal</ion-label>
                  <ion-select [(ngModel)]="objectiveSelected.goal_id" (ionChange)="ToloadMilestones('html');">
                     <ion-select-option value="">Select Goal</ion-select-option>
                     <ion-select-option *ngFor="let goal of goalInfo" value="{{goal.goal_id}}">{{goal.goal_title}}</ion-select-option>
                   </ion-select>
              </ion-item>

              <ion-item *ngIf="milestones.length != 0" lines="none" style="padding-right: 0px !important;">
                <ion-label style="color: skyblue;">Select Milestones (Optional)</ion-label>
                <ion-select [(ngModel)]="objectiveSelected.milestone_id">
                   <ion-select-option value="">Select Milestone</ion-select-option>
                   <ion-select-option *ngFor="let milestone of milestones" value="{{milestone.milestone_id}}">{{milestone.milestone}}</ion-select-option>
                 </ion-select>
            </ion-item>


            </div>


      </ion-list>
  </ion-content>



    <ion-footer style="border-top: solid 1px lightgray;">
              <ion-grid>
                <ion-row class="ion-text-center">
                  <!-- <ion-col size="4">
                    <ion-item lines="none" (click)="closemodal('UPDATE');" style="text-align: center; font-weight:bold; background:transparent; border-right:solid 1px #dcdcdc;   text-align:center; height:50px">
                      <ion-icon style="color: #039CD9;" name="checkmark-outline"></ion-icon>
                      <ion-text  style="color: #039CD9; font-weight: bold;" class="ion-margin-start">Update</ion-text>
                  </ion-item>
                  </ion-col> -->

                  <ion-col size="4" lines="none"  >
                    <ion-item lines="none" tappable (click)="closemodal('UPDATE');" style="font-weight:bold; background:transparent; border-right:solid 1px #dcdcdc;   margin:0 auto;  width:100%;  text-align:center; height:50px">
                      <ion-icon style="color: #039CD9;" name="checkmark-outline"></ion-icon>
                      <ion-text  style="color: #039CD9; padding-left:10px; font-weight: bold;" >Update</ion-text>
                  </ion-item>
                  </ion-col>


                  <!-- <ion-col size="4">
                    <ion-item lines="none" (click)="closemodal('DELETE');" style="font-weight:bold; background:transparent; border-right:solid 1px #dcdcdc;   text-align:center; height:50px">
                      <ion-icon style="color: red;" name="trash-outline"></ion-icon>
                      <ion-text style="color: red; font-weight: bold;" class="ion-margin-start">Delete</ion-text>
                  </ion-item>
                  </ion-col> -->

                  <ion-col size="4" lines="none"  >
                    <ion-item lines="none" tappable  (click)="closemodal('DELETE');" style="font-weight:bold; background:transparent; border-right:solid 1px #dcdcdc;   margin:0 auto;  width:100%;  text-align:center; height:50px">
                      <ion-icon size="small" style="color: red; " name="trash-outline"></ion-icon>
                      <ion-text style="color: red; padding-left:10px; font-weight: bold;" >Delete</ion-text>
                  </ion-item>
                  </ion-col>


                  <!-- <ion-col size="4">
                    <ion-item lines="none" (click)="closemodal('CANCEL');" style="font-weight:bold; background:transparent; border-bottom-right-radius:15px;  margin:0 auto;    text-align:center; height:50px">
                      <ion-icon style="color: red;" name="close-circle-outline"></ion-icon>
                      <ion-text style="color: red; font-weight: bold;" class="ion-margin-start">Cancel</ion-text>
                  </ion-item>
                  </ion-col> -->

                  <ion-col size="4" >
                    <ion-item lines="none" tappable  (click)="closemodal('CANCEL');" style="font-weight:bold; background:transparent;   margin:0 auto;  width:100%;  text-align:center; height:50px">
                      <ion-icon style="color: red; " name="close-circle-outline"></ion-icon>
                      <ion-text style="color: red; padding-left:10px; font-weight: bold;" >Cancel</ion-text>
                  </ion-item>
                  </ion-col>



                </ion-row>
              </ion-grid>

    </ion-footer>
