<ion-content mode="ios" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center" style="margin-top: 20%;">
        <img
              src="assets/icon/GoalShaper-Logo.png"
              style="width: 240px; margin: 0 auto; padding: 0 auto;"
            />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text>
          <h4>Change Password</h4>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form (ngSubmit)="fp.form.valid && onSubmit()" #fp="ngForm">
    <ion-item style="margin-top: 10px;">
      <ion-input
        style="color: black;"
        name="password"
        type="password"
        placeholder="Current Password"
        [(ngModel)]="current_password" name="current_password_" #current_password_="ngModel"
        required
      ></ion-input>
    </ion-item>
    <ion-item style="margin-top: 10px;">
      <ion-input
        style="color: black;"
        name="password"
        type="password"
        placeholder="New Password"
        [(ngModel)]="new_password" name="new_password_" #new_password_="ngModel"
        required
      ></ion-input>
    </ion-item>
    <ion-item style="margin-top: 10px;">
      <ion-input
        style="color: black;"
        name="password"
        type="password"
        placeholder="Confirm Password"
        [(ngModel)]="confirm_password"  name="confirm_password_" #confirm_password_="ngModel"
        required
      ></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer style="border-top: solid 1px lightgray;">
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="6">
        <ion-item lines="none" (click)="onSubmit()" style="text-align: center; font-weight:bold; background:transparent; border-bottom-left-radius:15px; border-right:solid 1px #dcdcdc;    width:100%;  text-align:center; height:50px">
          <ion-icon style="color: #039CD9;margin-left: 16px;" name="checkmark-outline"></ion-icon>
          <ion-text  style="color: #039CD9; font-weight: bold;" class="ion-margin-start">Save</ion-text>
      </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none" tappable (click)="closemodal();" style="font-weight:bold; background:transparent; border-bottom-right-radius:15px;  margin:0 auto;  width:100%;  text-align:center; height:50px">
          <ion-icon style="color: red; margin-left: 10px;" name="close-circle-outline"></ion-icon>
          <ion-text style="color: red; font-weight: bold;" class="ion-margin-start">Cancel</ion-text>
      </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
