<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button style="color: #F09D2E;"></ion-menu-button>
        </ion-buttons>
        <ion-title color="Medium"> Goals</ion-title>
        <ion-buttons slot="end">
              <ion-button style="color: #F09D2E;">
                  <ion-icon name="search"></ion-icon>
              </ion-button>
              <ion-button style="color: #F09D2E;">
                  <ion-icon name="funnel"></ion-icon>
              </ion-button>
              <ion-button style="color: #F09D2E;">
                  <ion-icon name="ellipsis-vertical"></ion-icon>
              </ion-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">

    
    <ion-grid>
        <ion-row>
          <ion-col col-3>
            <div>
                <!-- <ion-button expand="full" color="secondary">A full-width button</ion-button> -->
                <ion-chip style="height: 40px; width: auto; color: white; background-color: chocolate;">
                    <ion-label>Create Goal</ion-label>
                    <ion-icon style="color: white;" name="add"></ion-icon>
                  </ion-chip>
            </div>
          </ion-col>
          <ion-col col-3>
            <div>
                <!-- <ion-button expand="full" color="secondary">A full-width button</ion-button> -->
                <ion-chip style="height: 40px; width: auto; color: white; background-color: chocolate;">
                    <ion-label>Create Objective</ion-label>
                    <ion-icon style="color: white;" name="add"></ion-icon>
                </ion-chip>
            </div>
          </ion-col>
        </ion-row>
    </ion-grid>


    <div>
            <ion-card-header> 
                  <ion-item lines="none">
                      <ion-label style="color: red;">Designation</ion-label>
                      <a style="background-color: tomato; color: white;" class="roundbutton">1</a>
                  </ion-item> 
            </ion-card-header>
    
             <ion-card-content style="text-align: left;">
                <ion-grid >
                    <ion-row style="font-weight:normal;">
                      <ion-col col-3>Date </ion-col>
                      <ion-col col-3>Priority </ion-col>
                      <ion-col col-3>Action </ion-col>
                    </ion-row>
                    <ion-row >
                      <ion-col color="Medium" style="color: red;" col-3>Dec 1, '19</ion-col>
                      <ion-col color="light" col-3>Low</ion-col>
                      <ion-col color="light" col-3>Action1</ion-col>
                    </ion-row>
                    <ion-row >
                        <ion-col color="Medium" style="color: red;" col-3>Jan 1</ion-col>
                        <ion-col color="light"  col-3>Low</ion-col>
                        <ion-col color="light" col-3>Syam Kumar</ion-col>
                    </ion-row>
                    <ion-row >
                          <ion-col color="Medium" style="color: red;" col-3>Dec 25, '19</ion-col>
                          <ion-col color="light" col-3>Low</ion-col>
                          <ion-col color="light" col-3>Syam Kumar</ion-col>
                    </ion-row>
                    
                  </ion-grid>
                    
             </ion-card-content> 
        
            <ion-card-header> 
                <ion-item style="color: royalblue;"  lines="none">
                    <ion-label >Designation</ion-label>
                    <a style="background-color: royalblue; color: white;" class="roundbutton">1</a>
                </ion-item> 
            </ion-card-header>
  
            <ion-card-content style="text-align: left;">
              <ion-grid >
                  <ion-row style="font-weight:bold;">
                    <ion-col col-3>Date </ion-col>
                    <ion-col col-3>Priority </ion-col>
                    <ion-col col-3>Action </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-3>19-01-89</ion-col>
                    <ion-col col-3>Low</ion-col>
                    <ion-col col-3>Action1</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-3>19-01-89</ion-col>
                      <ion-col col-3>Low</ion-col>
                      <ion-col col-3>Syam Kumar</ion-col>
                    </ion-row>
                  
                </ion-grid>
                  
            </ion-card-content>

            <ion-card-header > 
                <ion-item  style="color: #F09D2E;" lines="none">
                    <ion-label>Designation</ion-label>
                    <a style="background-color: #F09D2E; color: white;" class="roundbutton">1</a>
                </ion-item> 
            </ion-card-header>
  
            <ion-card-content style="text-align: left;">
              <ion-grid >
                  <ion-row style="font-weight:bold;">
                    <ion-col col-3>Date </ion-col>
                    <ion-col col-3>Priority </ion-col>
                    <ion-col col-3>Action </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-3>19-01-89</ion-col>
                    <ion-col col-3>Low</ion-col>
                    <ion-col col-3>Action1</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-3>19-01-89</ion-col>
                      <ion-col col-3>Low</ion-col>
                      <ion-col col-3>Syam Kumar</ion-col>
                    </ion-row>
                  
                </ion-grid>
                  
            </ion-card-content>
           
    </div> 
     
   

</ion-content>


  
  