
.roundedInput {
    // --border-color: var(--ion-color-medium-shade);
    --border-radius: 5px;
    // --border-width: 1px;
    --box-shadow: 2px gray;
    // --highlight-height: 0;
    --background: #f8f9fa;
   }


ion-footer{
    --background:#F7F4F0;
}

ion-grid{
    text-align:center !important;
}
.cen{
    text-align:center !important;
}


