<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #f09d2e;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="Medium">Progress Tracker</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button style="color: #f09d2e;">
        <ion-icon style="color: #f09d2e;" name="search"></ion-icon>
      </ion-button>
      <ion-button  style="color: #f09d2e;">
        <ion-icon style="color: #f09d2e;" name="funnel"></ion-icon>
      </ion-button> -->
      <ion-button style="color: #f09d2e;">
        <ion-icon style="color: #f09d2e;" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <div class="ion-text-end ion-margin-top">
        <ion-text style="color: #f78f11;" class="ion-padding ion-margin-top" (click)="openModal()"><i class="fa fa-share" aria-hidden="true" style="color: #f78f11;"></i> &nbsp;Share</ion-text>
      </div>
    </ion-col>
  </ion-row>
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'new'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
              <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'open'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
            <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'complete'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
              <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'today'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
              <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'week'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
            <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'month'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
              <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'year'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
              <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'personal'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
              <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'professional'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
            <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'all'">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  [colors]="doughnutChartColors" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions" >
              </canvas>
            </div> 
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Goals</ion-label><br><br>
              <ion-label>0</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData2"
                  [labels]="doughnutChartLabels2"
                  [chartType]="doughnutChartType2"
                  [colors]="doughnutChartColors2" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
             </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Objectives</ion-label><br><br>
              <ion-label>4</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="chart-wrapper">
              <canvas baseChart 
                  [data]="doughnutChartData3"
                  [labels]="doughnutChartLabels3"
                  [chartType]="doughnutChartType3"
                  [colors]="doughnutChartColors3" 
                  [legend]="doughnutChartLegend"
                  [options]="doughnutChartOptions">
              </canvas>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="padding-25px-top">
              <ion-label>Actions</ion-label><br><br>
              <ion-label>10</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    
    
  </div>
    
    <ion-list style="padding:5px;">
      <ion-segment class="segment-button" [(ngModel)]="segment"  (ionChange)="segmentChanged($event)">
    
        <ion-segment-button value="new">
          New
        </ion-segment-button>
        <ion-segment-button value="open">
          Opened
        </ion-segment-button>
        <ion-segment-button value="complete">
          Completed
        </ion-segment-button>
    
      </ion-segment>
    </ion-list>
    <ion-list style="padding:5px;">
      <ion-segment class="segment-button" [(ngModel)]="segment"  (ionChange)="segmentChanged($event)">
    
        <ion-segment-button value="today">
         Today
        </ion-segment-button>
        <ion-segment-button value="week">
         Week
        </ion-segment-button>
        <ion-segment-button value="month">
          Month
        </ion-segment-button>
        <ion-segment-button value="year">
          Year
        </ion-segment-button>
    
      </ion-segment>
    </ion-list>
    <ion-list style="padding:5px;">
      <ion-segment class="segment-button" [(ngModel)]="segment"  (ionChange)="segmentChanged($event)">
    
        <ion-segment-button value="personal">
          Personal
        </ion-segment-button>
        <ion-segment-button value="professional">
          Professional
        </ion-segment-button>
        <ion-segment-button value="all">
          All
        </ion-segment-button>
    
      </ion-segment>
    </ion-list>
</ion-content>
