<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="password(form)" style="margin-top: 25%; height: 50%;">
    <ion-grid>
      <ion-row justify-content-center style="text-align: center;">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img
              src="assets/icon/GoalShaper-Logo.png"
              style="width: 240px; margin: 0 auto; padding: 0 auto;"
            />
          </div>
          <br /><br /><br />
          <!-- <ion-row class="ion-no-padding">
            <ion-col>
              <p> Enter the Email-address associated with your GoalShaper account.</p>
            </ion-col>
          </ion-row> -->
          <div padding>
            <p> Enter the Email-address associated with your GoalShaper account.</p>
            <ion-item class="ion-padding-top">
              <ion-icon style="color: #f09d2e;" name="person"></ion-icon>
              &nbsp;&nbsp;
              <ion-input
                style="color: black;"
                name="username"
                type="email"
                placeholder="Username"
                [(ngModel)]="resetpassword.username"
                #username = "ngModel"
                
                required
              ></ion-input>
            </ion-item>
            <br />
          </div>
          <div padding style="margin-top: 5%;">
            <ion-button
              shape="round"
              size="medium"
              fill="solid"
              style="--background: #f09d2e;"
              type="submit"
              [disabled]="form.invalid"
              >Continue</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-grid style="margin-top: 35%;">
    <ion-row class="ion-text-center">
      <ion-col>
        <!-- <ion-text (click)="gotoForgotPasswordPage()" color="light">
          Forgot Password?
        </ion-text> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>