<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #f09d2e;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="Medium"> Guiding Principles</ion-title>
    <ion-buttons slot="end">
      <ion-button style="color: #f09d2e;">
        <ion-icon style="color: #f09d2e;" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="2" class="">
        <div>
          <img src="assets/img/profile.jpg" alt="" style="height: 60px; padding: 3px; border-radius: 50%; border: 1px solid white; background: linear-gradient(147deg, #c354a3 18%, #4466a4 92%);">
        </div>
      </ion-col>
      <ion-col size="10" class="ion-margin-top">
        <ion-label>Vijay Mitra</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid> 
  <ion-grid style="padding-top:20px; padding-left:20px; font-weight:bold;">
    <ion-label class="purpose">My Purpose</ion-label><br>
  </ion-grid>
  <ion-grid style="padding-top:5px;  padding-left:20px;">
    <ion-label>Lorem Ipsum</ion-label>
    <ion-icon name="pencil" style="color:#1089CE;" class="edit" ></ion-icon>
  </ion-grid>
  <ion-grid style="padding-top:20px; padding-left:20px; font-weight:bold;">
    <ion-label>What's important to me</ion-label><br>
  </ion-grid>
  <ion-grid style="padding-top:5px; padding-left:20px;">
    <ion-label>Lorem Ipsum</ion-label><br>
  </ion-grid>
  <div style="border-bottom: 1px solid #104a84; margin: 25px;"></div>
     
  <!-- Company details starts here -->
  <ion-row>
    <ion-col size="4">
      <ion-list >
        <img src="https://www.acme.in/upload/dynamicImages/26092018104535_logo%20(1).png" slot="center" style="height: 70px;">
      </ion-list>
    </ion-col>
    <ion-col size="8" class="ion-padding ion-margin-top">
        <p>ACME Inc.</p>
    </ion-col>
  </ion-row>
        <ion-grid style="padding-top:20px; padding-left:20px; font-weight:bold;">
          <ion-label>Mission</ion-label><br>
        </ion-grid>
        <ion-grid style="padding-top:5px; padding-left:20px;">
          <ion-label>We will bring good things to the world</ion-label><br>
        </ion-grid>
        <ion-grid style="padding-top:20px; padding-left:20px; font-weight:bold;">
          <ion-label>Vision</ion-label><br>
        </ion-grid>
        <ion-grid style="padding-top:5px; padding-left:20px;">
          <ion-label>A world without the problems our products solve</ion-label><br>
        </ion-grid>
        <ion-grid style="padding-top:20px; padding-left:20px; font-weight:bold;">
          <ion-label>Values</ion-label><br>
        </ion-grid>
        <ion-grid style="padding-left:10px;" >
          <li style="padding-left:10px;" class="ion-margin-bottom">Competence</li>
          <li style="padding-left:10px;" class="ion-margin-bottom">Respect</li>
          <li style="padding-left:10px;">Have Fun</li>
        </ion-grid>
 </ion-content>
