ion-card{
    --padding:0px !important;
    margin:0px !important;
}

.roundbutton {
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    // // border: 1px solid blue;
    background-color: white;
    text-align: center;
  }