<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #e4a147;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="padding:0px !important">
    <ion-card-content>
      <mbsc-form-group>
        <mbsc-calendar [(ngModel)]="markedDay" display="inline" (onSet)="getDetailsofClick($event)" [marked]="markedDays"></mbsc-calendar>
    </mbsc-form-group>
      <div>
        <ion-card style="margin-bottom: 5px !important">
        <ion-card-header class="ion-no-padding" (click)="visible = !visible" style="--background:red;padding:0px !important">
          <ion-item lines="none" style="--background:red">
            <ion-label style="color:white !important;margin: 0px !important;">Overdue</ion-label>
            <!-- <ion-text slot="end">{{overdueActionList.length}}</ion-text> -->
            <span class="roundbutton" style="text-align:center;vertical-align: middle; color:red; padding-top:3px !important; font-size:small; float:right;">
              <span style="margin-top: 5px;">{{overdueActionList.length}}</span>
           </span>
          </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="visible" class="ion-padding-top" style="padding:0px !important">
          <ion-grid>
            <ion-row *ngIf="overdueActionList.length == 0">
              <ion-col>
                <div style="text-align: center;">
                    No Data
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let item1 of overdueActionList " (click)="openModal('edit',item1)"  style="font-weight: normal;">
              <ion-col size="1"
                ><ion-text color="light" [style.background-color]="item1.color"
                  >{{item1.name | slice:0:1}}</ion-text
                ></ion-col
              >
              <ion-col size="3">{{item1.target_date ? (item1.target_date | date: 'd MMM') : ''}}</ion-col>
              <ion-col size="2">{{item1.type | slice:0:1}}</ion-col>
              <ion-col size="6">{{item1.title | slice:0:15}}</ion-col>
            </ion-row>

          </ion-grid>

        </ion-card-content>

      </ion-card>

        <ion-card style="margin-bottom: 5px !important">
        <ion-card-header class="ion-no-padding" (click)="visible2 = !visible2" style="--background:orange;padding:0px !important">
          <ion-item lines="none" style="--background:orange">
            <ion-label style="color:white !important;margin: 0px !important;">Today</ion-label>
            <!-- <ion-text slot="end">{{todayActionList.length}}</ion-text> -->
            <span class="roundbutton" style="text-align:center;vertical-align: middle; color:red; padding-top:3px !important; font-size:small; float:right;">
              <span style="margin-top: 5px;">{{todayActionList.length}}</span>
           </span>
          </ion-item>
        </ion-card-header>

        <ion-card-content *ngIf="visible2" class="ion-padding-top" style="padding:0px !important">
          <ion-grid>
            <ion-row *ngIf="todayActionList.length == 0">
              <ion-col>
                <div style="text-align: center;">
                    No Data
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let item2 of todayActionList" (click)="openModal('edit',item2)"  style="font-weight: normal;">
              <ion-col size="1"
                ><ion-text color="light"  [style.background-color]="item2.color"
                  >{{item2.name | slice:0:1}}</ion-text
                ></ion-col
              >
              <ion-col size="3">{{item2.target_date ? (item2.target_date | date: 'd MMM') : ''}} </ion-col>
              <ion-col size="2">{{item2.type | slice:0:1}}</ion-col>
              <ion-col size="6">{{item2.title | slice:0:15}}</ion-col>
            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card style="margin-bottom: 5px !important">
        <ion-card-header class="ion-no-padding" (click)="visible3 = !visible3" style="--background:green;padding:0px !important">
          <ion-item lines="none" style="--background:green">
            <ion-label style="color:white !important; margin: 0px !important;">This Week</ion-label>
            <!-- <ion-text slot="end">{{thisWeekActionList.length}}</ion-text> -->
            <span class="roundbutton" style="text-align:center;vertical-align: middle; color:red; padding-top:3px !important; font-size:small; float:right;">
              <span style="margin-top: 5px;">{{thisWeekActionList.length}}</span>
           </span>
          </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="visible3" class="ion-padding-top" style="padding:0px !important">
          <ion-grid>
            <ion-row *ngIf="thisWeekActionList.length == 0">
              <ion-col>
                <div style="text-align: center;">
                    No Data
                </div>
              </ion-col>
            </ion-row>
            <ion-row  *ngFor="let item3 of thisWeekActionList" (click)="openModal('edit',item3)" style="font-weight: normal;">
              <ion-col size="1">
                <ion-text color="light"  [style.background-color]="item3.color">{{item3.name | slice:0:1}}</ion-text>
                </ion-col>
              <ion-col size="3">{{item3.target_date ? (item3.target_date | date: 'd MMM') : ''}}</ion-col>
              <ion-col size="2">{{item3.type | slice:0:1}}</ion-col>
              <ion-col size="6">{{item3.title | slice:0:15}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card style="margin-bottom: 5px !important">
        <ion-card-header class="ion-no-padding" (click)="visible4 = !visible4" style="--background:blueviolet;padding:0px !important">
          <ion-item lines="none" style="--background:blueviolet">
            <ion-label style="color:white !important; margin: 0px !important;">Beyond</ion-label>
            <!-- <ion-text slot="end">{{thisWeekActionList.length}}</ion-text> -->
            <span class="roundbutton" style="text-align:center;vertical-align: middle; color:red; padding-top:3px !important; font-size:small; float:right;">
              <span style="margin-top: 5px;">{{beyondList.length}}</span>
           </span>
          </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="visible4" class="ion-padding-top" style="padding:0px !important">
          <ion-grid>
            <ion-row *ngIf="beyondList.length == 0">
              <ion-col>
                <div style="text-align: center;">
                    No Data
                </div>
              </ion-col>
            </ion-row>
            <ion-row  *ngFor="let item4 of beyondList" (click)="openModal('edit',item4)" style="font-weight: normal;">
              <ion-col size="1">
                <ion-text color="light"  [style.background-color]="item4.color">{{item4.name | slice:0:1}}</ion-text>
                </ion-col>
              <ion-col size="3">{{item4.target_date ? (item4.target_date | date: 'd MMM') : ''}}</ion-col>
              <ion-col size="2">{{item4.type | slice:0:1}}</ion-col>
              <ion-col size="6">{{item4.title | slice:0:15}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
