<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #F09D2E;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="Medium"> Actions</ion-title>
    <ion-buttons slot="end">
          <ion-button (click)="searchAction()" style="color: #F09D2E;">
              <ion-icon style="color: #f09d2e;" name="search"></ion-icon>
          </ion-button>
          <!-- <ion-button style="color: #F09D2E;">
              <ion-icon name="funnel"></ion-icon>
          </ion-button>
          <ion-button style="color: #F09D2E;">
              <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button> -->
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="">

  <ion-searchbar *ngIf="showSearchbar == true" [(ngModel)]="terms" mode='ios' (ionCancel)="hideSearchbar($event)" showCancelButton></ion-searchbar>


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
  <ion-fab vertical="bottom" slot="fixed" style="width: 100%;flex-direction: row; justify-content: center;">
    <ion-row>
      <ion-col size="10">
        <ion-segment class="segment-button" [(ngModel)]="segment"  (ionChange)="segmentChanged($event)">
          <ion-segment-button value="find">
            Find
          </ion-segment-button>
          <ion-segment-button value="sort">
            Sort
          </ion-segment-button>
          <ion-segment-button value="do">
            Do
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="2">
        <div class="ion-text-center">
          <ion-fab-button (click)="openModal('create','')" style="float:right; margin-top: 5px;">
            <ion-icon name="add" style="border: 2px solid white;border-radius: 50%;"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-fab>
    <div [ngSwitch]="segment" cdkDropListGroup>
      <div class="scrolling-wrapper-flexbox" *ngSwitchCase="'find'">
        <!-- First Block -->
        <div class="card" style="width:75%; margin-right:5px">
          <ion-card style="border: none; box-shadow: none;">
            <!-- <ion-card-header   style="background-color: white; padding:5px; border-bottom: lightgray 1px solid;">
              <ion-grid style="padding:0px">
                <ion-row class="ion-align-items-center">
                  <ion-col class="ion-align-self-center"  style="padding:4px">
                    <span style="float:left; font-size: large; padding:4px; margin-top:2px; color:black;font-weight:bold " >Find</span>  <span style=" padding-top: 5px;text-align:center;vertical-align: middle; color:black; font-size: large; float:right;width:30px;height:30px;border-radius:30px;border:lightgray 1px solid"> {{dumpActions.length<10 ? '0'+dumpActions.length : dumpActions.length }}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header> -->
            <ion-card-content>
              <!-- <div style="text-align:center; margin-left:5px; margin-right:5px; padding: 5px; border:lightgray 1px solid; margin-top:10px; margin-bottom:10px; background-color: rgba(211, 211, 211, 0.329);"  (click)="openModal('create','')">Add a quick action</div> -->
              <ion-row>
                <ion-col size="10">
                  <input type="text" class="default-input" placeholder="Add action" [(ngModel)]='quickActionName'>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <i class="fa fa-plus" style="color: #f18a11;" (click)="triggerQUickAction($event)"></i>
                </ion-col>
              </ion-row>
              <div
                cdkDropList
                id = 'moviesList'
                [cdkDropListData]="dumpActions"
                [cdkDropListConnectedTo]="catogeryNames"
                class="example-list"
                (cdkDropListDropped)="onDropFind($event)">
                <ion-card  (click)="openModal('find',item)" style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);" *ngFor="let item of dumpActions | userExtract: terms;" cdkDrag>
                  <ion-card-header>
                    <ion-grid style="padding:0px">
                      <ion-row class="ion-align-items-center">
                        <ion-col class="ion-align-self-center"  style="padding:4px">
                          <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-find"></i>{{item.action}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-header>
                </ion-card>
  
                <!-- <ion-row *ngIf="dumpActions.length == 0">
                  <ion-col>
                    <div style="text-align: center;">
                        No Actions
                    </div>
                  </ion-col>
                </ion-row> -->
              </div>
              
  
            </ion-card-content>
          </ion-card>

          <ion-row *ngIf="dumpActions.length == 0">
            <ion-col>
              <div style="text-align: center;">
                  <img src="assets/img/action-rings.png" alt="" style="height: 200px;">
              </div>
            </ion-col>
          </ion-row>
        </div>
        <!-- Second Block -->
        <div class="card" style="width:80%; margin-right:5px">
          <ion-card style="border: none; box-shadow: none;">
            <!-- <ion-card-header   style="background-color: white; padding:5px; border-bottom: lightgray 1px solid;">
              <ion-grid style="padding:0px">
                <ion-row class="ion-align-items-center">
                  <ion-col class="ion-align-self-center"  style="padding:4px">
                    <span style="float:left; font-size: large; padding:4px; margin-top:2px; color:black;font-weight: bold; " >Sort</span>  <span style="padding-top: 5px; color:black; font-size: larger; float:right;width:30px;height:30px;border-radius:30px;border:lightgray 1px solid"> {{chunkTotalcount}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header> -->
  
            <ion-row *ngIf="displayIfNoCategories">
              <ion-col>
                <div style="text-align: center;">
                    No Categories
                </div>
              </ion-col>
            </ion-row>
              
            <ion-card *ngFor="let data of chunkActions;let i = index" [ngStyle]="{'border-color': data.color}">
                <ion-card-header (click)="data.visible = !data.visible;clickedheader(i, 'find')">
                  <ion-grid style="padding:0px">
                    <ion-row class="ion-align-items-center">
                      <ion-col class="ion-align-self-center"  style="padding:0px">
                        <span style="float:left; font-size: 20px; color: #363648; padding:4px; margin-top:2px;" >{{data.name}}</span>
                        <!-- <span style="text-align:center;vertical-align: middle; color:white; font-size: large; float:right;">
                          <span style="padding:5px">{{data.actions.length}}</span>
                        </span> -->
  
                        <!-- <span *ngIf="deviceType=='ios'" class="roundbutton" style="text-align:center;vertical-align: middle; color:red; padding-top:3px !important; font-size:small; float:right;">
                          <span style="margin-top: 5px;">{{data.actions.length}}</span>
                        </span> -->
  
                        <!-- <span  *ngIf="deviceType=='android'" class="roundbutton" style="text-align:center;vertical-align: middle; color:red; padding-top:3px !important; font-size:small; float:right;">
                          <span style="margin-top: 5px; line-height: 1.7;">{{data.actions.length}}</span>
                        </span> -->
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
                <ion-card-content *ngIf="data.visible" >
  
                  <div
                    cdkDropList
                    id = "{{data.name}}"
                    [cdkDropListData]="data.actions"
                    [cdkDropListConnectedTo]="['moviesList']"
                    class="movie-list"
                    class="example-list"
                    (cdkDropListDropped)="onDrop($event)">
                    <div   class="card" style="margin: 0px;border: none;" cdkDrag>
                      <div  *cdkDragPlaceholder style="border: none;"></div>
                    </div>
                    <!-- <ion-card >
                      <ion-card-header (click)="openModal('sortplus',data)">
                        <ion-grid style="padding:0px" >
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center"  style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px" >Add Quick Action</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card> -->
                    <ion-row>
                      <ion-col size="10">
                        <input type="text" class="default-input" placeholder="Add action" [ngStyle]="{'border-color': data.color}">
                      </ion-col>
                      <ion-col size="2" class="ion-text-center">
                        <i class="fa fa-plus" [ngStyle]="{'color': data.color}" (click)="openModal('sortplus',data)"></i>
                      </ion-col>
                    </ion-row>
  
                    <div   class="card" style="margin: 0px;border: none;" cdkDrag>
                      <div  *cdkDragPlaceholder style="border: none;"></div>
                    </div>
                    <!-- <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div> -->
                    <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);" *ngFor="let data2 of data.actions | userExtract: terms;" (click)="openModal('edit',data2)" cdkDrag>
                    <!-- <ion-card style="flex-direction: row;cursor: move;" *ngFor="let data2 of data.actions | userExtract: searchBy ;" (click)="openModal('edit',data2)" cdkDrag> -->
                      <ion-card-header>
                        <ion-grid style="padding:0px">
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center"  style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" [ngStyle]="{'border-color':data.color}"></i>{{data2.action}}</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card>
                  </div>
                </ion-card-content>
              </ion-card>
          </ion-card>
        </div>
        
      </div>
      <div class="scrolling-wrapper-flexbox" *ngSwitchCase="'sort'">
        <!-- Second Block -->
        <div class="card" style="width:70%; margin-right:5px" >
          <ion-row>
            <ion-col>
              <span style="font-size: 14px; float:right; color: #f78f11; margin-top: 10px;" (click)="collapse_all = !collapse_all">Collapse all</span>
            </ion-col>
          </ion-row>
          <ion-card style="border: none; box-shadow: none;">
            <!-- <ion-card-header   style="background-color: white; padding:5px; border-bottom: lightgray 1px solid;">
              <ion-grid style="padding:0px">
                <ion-row class="ion-align-items-center">
                  <ion-col class="ion-align-self-center"  style="padding:4px">
                    <span style="float:left; font-size: large; padding:4px; margin-top:2px; color:black;font-weight: bold; " >Sort</span>  <span style="padding-top: 5px; color:black; font-size: larger; float:right;width:30px;height:30px;border-radius:30px;border:lightgray 1px solid"> {{chunkTotalcount}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header> -->
  
            <ion-row *ngIf="displayIfNoCategories">
              <ion-col>
                <div style="text-align: center;">
                    No Categories
                </div>
              </ion-col>
            </ion-row>
              
            <ion-card *ngFor="let data of chunkActions;let i = index" [ngStyle]="{'border-color': data.color}">
                <ion-card-header (click)="data.sortvisible = !data.sortvisible;clickedheader(i, 'sort')">
                  <ion-grid style="padding:0px">
                    <ion-row class="ion-align-items-center">
                      <ion-col class="ion-align-self-center"  style="padding:0px">
                        <span style="float:left; font-size: 20px; color: #363648; padding:4px; margin-top:2px;" >{{data.name}}</span>
                        <!-- <span style="text-align:center;vertical-align: middle; color:white; font-size: large; float:right;">
                          <span style="padding:5px">{{data.actions.length}}</span>
                        </span> -->
  
                        <!-- <span *ngIf="deviceType=='ios'" class="roundbutton" style="text-align:center;vertical-align: middle; color:red; padding-top:3px !important; font-size:small; float:right;">
                          <span style="margin-top: 5px;">{{data.actions.length}}</span>
                        </span> -->
  
                        <!-- <span  *ngIf="deviceType=='android'" class="roundbutton" style="text-align:center;vertical-align: middle; color:red; padding-top:3px !important; font-size:small; float:right;">
                          <span style="margin-top: 5px; line-height: 1.7;">{{data.actions.length}}</span>
                        </span> -->
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
                <div *ngIf="collapse_all">
                  <ion-card-content *ngIf="data.sortvisible" >
                    <div
                      cdkDropList
                      id = "{{data.name}}"
                      [cdkDropListData]="data.actions"
                      [cdkDropListConnectedTo]="['moviesList']"
                      class="movie-list"
                      class="example-list"
                      (cdkDropListDropped)="onDrop($event)">
                      <div   class="card" style="margin: 0px;border: none;" cdkDrag>
                        <div  *cdkDragPlaceholder style="border: none;"></div>
                      </div>
                      <!-- <ion-card >
                        <ion-card-header (click)="openModal('sortplus',data)">
                          <ion-grid style="padding:0px" >
                            <ion-row class="ion-align-items-center">
                              <ion-col class="ion-align-self-center"  style="padding:4px">
                                <span style="float:left; padding-left:4px; padding-top:4px" >Add Quick Action</span>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-card-header>
                      </ion-card> -->
                      <ion-row>
                        <ion-col size="10">
                          <input type="text" class="default-input" placeholder="Add action" [ngStyle]="{'border-color': data.color}">
                        </ion-col>
                        <ion-col size="2" class="ion-text-center">
                          <i class="fa fa-plus" [ngStyle]="{'color': data.color}" (click)="openModal('sortplus',data)"></i>
                        </ion-col>
                      </ion-row>
    
                      <div   class="card" style="margin: 0px;border: none;" cdkDrag>
                        <div  *cdkDragPlaceholder style="border: none;"></div>
                      </div>
                      <!-- <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div> -->
                      <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);" *ngFor="let data2 of data.actions | userExtract: terms;" (click)="openModal('edit',data2)" [cdkDragData]="data2" cdkDrag>
                      <!-- <ion-card style="flex-direction: row;cursor: move;" *ngFor="let data2 of data.actions | userExtract: searchBy ;" (click)="openModal('edit',data2)" cdkDrag> -->
                        <ion-card-header>
                          <ion-grid style="padding:0px">
                            <ion-row class="ion-align-items-center">
                              <ion-col class="ion-align-self-center"  style="padding:4px">
                                <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" [ngStyle]="{'border-color':data.color}"></i>{{data2.action}}</span>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-card-header>
                      </ion-card>
                    </div>
                  </ion-card-content>
                </div>
              </ion-card>
          </ion-card>
        </div>
        <!-- Third Block -->
        <div class="card" style="width:80%; margin-right:5px">
          <div style="border: none; box-shadow: none;">
            <ion-card *ngFor="let day of days">
              <ion-card-header>
                <ion-grid style="padding:0px">
                  <ion-row class="ion-align-items-center">
                    <ion-col size="12" style="padding:0px">
                      <span style="float:left; font-size: 20px; color: #363648; padding:4px; margin-top:2px;" >{{ day.displayDate }}</span>
                    </ion-col>
                    <ion-col class="ion-align-self-center" size="12" style="padding:0px">
                      
                    
                    <div  cdkDropList
                        id="chooseDate"       
                        [cdkDropListData]="day.actions"
                        (cdkDropListDropped)="onDropDate($event,day.formatDate)"
                        class="movie-list example-list" style="min-height: 0px;">
                        <div   class="card" style="margin: 0px;border: none; height: 20px;" cdkDrag>
                          <div  *cdkDragPlaceholder style="border: none;"></div>
                        </div>
                        <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);" *ngFor="let data of day.actions" cdkDrag>
                          <ion-card-header>
                            <ion-grid style="padding:0px; height: 20px;">
                              <ion-row class="ion-align-items-center">
                                <ion-col class="ion-align-self-center"  style="padding:4px; height: 20px;">
                                  <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" [ngStyle]="{'border-color':data.color}"></i>{{data.action}}</span>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-card-header>
                        </ion-card>
                    </div>
                  </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
            <ion-card *ngFor="let day2 of anotherdate">
              <ion-card-header>
                <ion-grid style="padding:0px">
                  <ion-row class="ion-align-items-center">
                    <ion-col size="12" style="padding:0px">
                      <span style="float:left; font-size: 20px; color: #363648; padding:4px; margin-top:2px;" >{{ day2.displayDate1 }}</span>
                    </ion-col>
                    <ion-col class="ion-align-self-center" size="12" style="padding:0px">
                    <div  cdkDropList
                        id="chooseDate"       
                        [cdkDropListData]="day2.actions"
                        (cdkDropListDropped)="anotherDate($event,day2.formatDate)"
                        class="movie-list example-list" style="min-height: 0px;">
                        <div   class="card" style="margin: 0px;border: none; height: 20px;" cdkDrag>
                          <div  *cdkDragPlaceholder style="border: none;"></div>
                        </div>
                        <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);" *ngFor="let data of day2.actions" cdkDrag>
                          <ion-card-header>
                            <ion-grid style="padding:0px; height: 20px;">
                              <ion-row class="ion-align-items-center">
                                <ion-col class="ion-align-self-center"  style="padding:4px; height: 20px;">
                                  <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" [ngStyle]="{'border-color':data.color}"></i>{{data.action}}</span>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-card-header>
                        </ion-card>
                    </div>
                  </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'do'">
        <!-- Third Block -->
        <div class="card" style="width:100%; margin-right:5px">
          <ion-card style="border: none; box-shadow: none;">
            <ion-card-header   style="background-color: white; padding:5px;">
              <ion-grid style="padding:0px">
                <ion-row class="ion-align-items-center">
                  <ion-col class="ion-align-self-center"  style="padding:0px">
                    <span *ngIf="dodate" style="float:left; font-size: large; padding:4px; margin-top:2px; color: #104a84;font-weight: bold; " >Do Today</span>  
                    <span  *ngIf="duedate" style="float:left; font-size: large; padding:4px; margin-top:2px; color: #104a84;font-weight: bold; " >Due Date</span>  
                    <!-- <span style="padding-top: 5px; color:black; font-size: large; float:right;width:30px;height:30px;border-radius:30px;border:lightgray 1px solid">{{doActions.length<10 ? '0'+doActions.length : doActions.length }}</span> -->
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
            <ion-card-header>
              <ion-grid style="text-align: center;">
                <ion-row>
                  <ion-col>
                    <ion-note
                      (click)="click_Do()"
                      [ngStyle]="{'font-weight':isDoEnb, 'color':isDoActive}"
                      >Do Date</ion-note
                    >
                  </ion-col>
                  <ion-col>
                    <ion-note (click)="click_Due()" [ngStyle]="{'font-weight':isDueEnb, 'color':isDuActive}"
                      >Due Date</ion-note
                    >
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-header>
            
            <div *ngIf="isDo">
              <ion-card-content>
                <mbsc-form-group>
                  <mbsc-calendar [(ngModel)]="markedDay" display="inline" (onSet)="getDetailsofClick($event)" [marked]="markedDays"></mbsc-calendar>
                </mbsc-form-group>
                <div>
                  <ion-row>
                    <ion-col size="10">
                      <input type="text" class="default-input" [(ngModel)]="actions.action" placeholder="Add action">
                    </ion-col>
                    <ion-col size="2" class="ion-text-center">
                      <i class="fa fa-plus" style="color: #f18a11;" (click)="openModal('create','')"></i>
                    </ion-col>
                  </ion-row>
                  <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                    <ion-card-header>
                      <ion-grid style="padding:0px">
                        <ion-row class="ion-align-items-center">
                          <ion-col class="ion-align-self-center" size="12">
                            <span style="float:left; color: #363648;" ><i class="fa fa-check check-icon" style="color: #af5db7;"></i>Cycle 20 miles</span>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-header>
                  </ion-card>   
                  <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                    <ion-card-header>
                      <ion-grid style="padding:0px">
                        <ion-row class="ion-align-items-center">
                          <ion-col class="ion-align-self-center" size="12" style="padding:4px">
                            <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" style="color: #bee25f;"></i>Take Cosmo for a walk</span>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-header>
                  </ion-card>   
                  <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                    <ion-card-header>
                      <ion-grid style="padding:0px">
                        <ion-row class="ion-align-items-center">
                          <ion-col class="ion-align-self-center" size="12" style="padding:4px">
                            <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" style="color: #bee25f;"></i>Take Cosmo for a walk</span>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-header>
                  </ion-card>   
                  <ion-card *ngFor="let item2 of todayActionList | userExtract: terms;" (click)="openModal('edit',item2)"  style="font-weight: normal; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                    <ion-card-header>
                      <ion-grid style="padding:0px">
                        <ion-row class="ion-align-items-center">
                          <ion-col class="ion-align-self-center"  style="padding:4px">
                            <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;"><i class="icon-sort" [ngStyle]="{'border-color':item2.color}"></i>{{item2.action}}</span>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-header>
                  </ion-card>
                  <div style="height: 80px;"></div>
                </div>
              </ion-card-content>
            </div>
            <div *ngIf="isDue">
              <ion-card style="margin-bottom: 5px !important; border: none; box-shadow: none;">
                <ion-card-header class="ion-no-padding" (click)="visible = !visible" style="padding:0px !important">
                  <ion-item lines="none">
                    <ion-label style="color:#f83a3a !important;margin: 0px !important; font-size: 20px; font-weight: bold;">Overdue</ion-label>
                    <span class="roundbutton" style="text-align:center;vertical-align: middle; color:red; padding-top:3px !important; font-size:small; float:right;">
                      <span style="margin-top: 5px;"><i class="fa fa-angle-down" style="color: #f83a3a;"></i></span>
                    </span>
                  </ion-item>
                </ion-card-header>
                <ion-card-content *ngIf="visible" class="ion-padding-top">
                  <ion-grid>
                    <!-- <ion-row *ngIf="overdueActionList.length == 0">
                      <ion-col>
                        <div style="text-align: center;">
                            No Actions
                        </div>
                      </ion-col>
                    </ion-row> -->
                    <ion-card *ngFor="let item1 of overdueActionList | userExtract: terms;" (click)="openModal('edit',item1)"  style="font-weight: normal; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                      <!-- <ion-col size="1">
                        <ion-text color="light" [style.background-color]="item1.color">{{item1.category_name | slice:0:1}}</ion-text>
                      </ion-col>
                      <ion-col size="3">{{item1.target_date ? (item1.target_date | date: 'd MMM') : ''}}</ion-col>
                      <ion-col size="1">{{item1.priority_name | slice:0:1}}</ion-col>
                      <ion-col size="6">{{item1.action | slice:0:15}}</ion-col> -->
                      <ion-card-header>
                        <ion-grid style="padding:0px">
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center"  style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" [ngStyle]="{'border-color':item1.color}"></i>{{item1.action}}</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card>
                    <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                      <ion-card-header>
                        <ion-grid style="padding:0px">
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center" size="12" style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" style="color: #bee25f;"></i>Take Cosmo for a walk</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card>   
                    <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                      <ion-card-header>
                        <ion-grid style="padding:0px">
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center" size="12" style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" style="color: #bee25f;"></i>Take Cosmo for a walk</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card>   
                  </ion-grid>
                </ion-card-content>
              </ion-card>

              <ion-card style="margin-bottom: 5px !important; border: none; box-shadow: none;">
                <ion-card-header class="ion-no-padding" (click)="visible2 = !visible2" style="padding:0px !important">
                  <ion-item lines="none">
                    <ion-label style="color:#464644 !important;margin: 0px !important; font-weight: bold;"> Due</ion-label>
                  </ion-item>
                </ion-card-header>
                <ion-card-content class="ion-padding-top">
                  <ion-grid>
                    <!-- <ion-row *ngIf="todayActionList.length == 0">
                      <ion-col>
                        <div style="text-align: center;">
                            No Actions
                        </div>
                      </ion-col>
                    </ion-row> -->
                    <ion-card *ngFor="let item2 of todayActionList | userExtract: terms;" (click)="openModal('edit',item2)"  style="font-weight: normal; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                      <ion-card-header>
                        <ion-grid style="padding:0px">
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center"  style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;"><i class="icon-sort" [ngStyle]="{'border-color':item2.color}"></i>{{item2.action}}</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card>
                    <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                      <ion-card-header>
                        <ion-grid style="padding:0px">
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center" size="12" style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" style="color: #bee25f;"></i>Take Cosmo for a walk</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card> 
                    <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                      <ion-card-header>
                        <ion-grid style="padding:0px">
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center" size="12" style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" style="color: #af5db7;"></i>Pay Tax</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card>
                    <ion-card style="flex-direction: row;cursor: move; height: 60px; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                      <ion-card-header>
                        <ion-grid style="padding:0px">
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center" size="12" style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;" ><i class="icon-sort" style="color: greenyellow;"></i>Run 10 miles</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card>  
                  </ion-grid>
                </ion-card-content>
              </ion-card>
              <ion-card style="border: none; box-shadow: none;">
                <ion-card-header class="ion-no-padding" style="padding:0px !important">
                  <ion-item lines="none">
                    <ion-label style="color:#464644 !important;margin: 0px !important; font-weight: bold; font-size: 26px;">Due This Week</ion-label>
                  </ion-item>
                </ion-card-header>
              </ion-card>
              <ion-card *ngFor="let item3 of thisWeekActionList | userExtract: terms;" style="margin-bottom: 5px !important; border: none; box-shadow: none;">
                <ion-card-header class="ion-no-padding" style="padding:0px !important">
                  <ion-item lines="none">
                    <ion-label style="color:#464644 !important;margin: 0px !important; font-weight: bold;">{{item3.target_date ? (item3.target_date | date: 'EEEE dd') : '-'}}</ion-label>
                  </ion-item>
                </ion-card-header>
                <ion-card-content class="ion-padding-top">
                  <ion-grid>
                    <ion-row *ngIf="thisWeekActionList.length == 0">
                      <ion-col>
                        <div style="text-align: center;">
                            No Actions
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-card (click)="openModal('edit',item3)" style="font-weight: normal; border: white; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.08), 0 -6px 12px 0 rgba(255, 255, 255, 0.5);">
                      <ion-card-header>
                        <ion-grid style="padding:0px">
                          <ion-row class="ion-align-items-center">
                            <ion-col class="ion-align-self-center"  style="padding:4px">
                              <span style="float:left; padding-left:4px; padding-top:4px; color: #363648;"><i class="icon-sort" [ngStyle]="{'border-color':item3.color}"></i>{{item3.action}}</span>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-header>
                    </ion-card>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-card>
        </div>
      </div>
    </div>
    <div style="height: 80px;"></div>
</ion-content>
